

.nav-mid ul:hover {
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%), 0 4px 12px rgb(0 0 0 / 10%);
    transition: all 0.2s;
    cursor: pointer;
}

.mid-nav-btn {
    font-weight: 600;
    font-size: 1rem;
    color: var(--black);
    align-items: center;
    border-right: 1px solid var(--grey);
    padding-right: 10px;
    padding-top: 0%;
    list-style: none;
}

.mid-nav-btn1 {
    font-weight: 600;
    font-size: 1rem;
    color: var(--font-grey);
    align-items: center;
    padding-right: 7px;
    list-style: none;
}

.search-icon {
    padding: 4px;
    margin-top: 7px;
    border: none;
    border-radius: 42px;
    background-color: var(--theme);
    height: 5px;
    width: 5px;
}

.bottom-nav {
    display: none;
    background-color: black;
    bottom: 0px;
}

.mobile-search-bar {
    padding: 10px 0px;
    display: none;

}



.searchbar-icon{
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    padding: 5px 5px;
    background-color: var(--grey);
}

.searchbar-icon:hover{
    background-color: var(--gray);
}

@media (max-width: 900px) {
    .nav-left {
        content: url('../../assets/logo1.png');
    }
}

@media (max-width: 960px) {
    .nav-mid {
        display: none;
    }
}

@media (max-width: 800px) {
    .navbar {
        display: none;
    }

    .navbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .nav-profile {
        position: fixed;
        top: 0.5rem;
        right: 1.5rem;
    }

    .bottom-nav {
        display: flex;
        justify-content: center;
        height: 5rem;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid var(--grey);
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    }


    .mobile-search-bar {
        display: block;
        background-color: rgb(255, 254, 254);
        display: flex;
        
        justify-content: center;
        align-items: center;
    }
}
