.footer{
    padding: 0px 40px;
    background-color: #f7f7f7;
}
.footer-section-1{
    text-align: left;
    display: flex;
    justify-content: space-between;
    
    color: #303030;
    
    font-family: "Nunito Sans", sans-serif;
}

.footer-section-2{
    padding: 1.5rem 0rem;
}

.hosting-section{
    margin-top: 50px;
    width: 33.333%;
}
.hosting-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.hosting-section ul {
    list-style-type: none;
    padding: 0;
}

.hosting-section ul li {
    margin: 5px 0;
}

.hosting-section ul li a {
    text-decoration: none;
    color: #333;
}

.hosting-section ul li a:hover {
    color: #007bff;
}
